<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BPF_Connect" connectionString="Data Source=10.100.100.10;Initial Catalog=BPF_MOBILE;Persist Security Info=True;User ID=sa;Password=Mti.10@;Timeout=15000" providerName="System.Data.SqlClient"/>
    <add name="PengajuanKredit_Data" connectionString="data source=10.100.100.10;initial catalog=BPF_MOBILE;persist security info=True;user id=sa;password=Mti.10@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Coba" connectionString="data source=10.168.2.243;initial catalog=BPF;Network Library=DBMSSOCN;User ID=rkm;Password=Rajawal1db" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EmailCC" value=""/>
    <add key="logFolder" value="D:\Log\"/>
    <add key="AppData" value="D:\Area Testing\kreditBPF_Admin\kreditBPF_Admin\App_Data"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="true" proxyaddress="http://26.116.2.2:3128"/>
    </defaultProxy>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BPF_WSSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="BPF_WSSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="BPF_WSSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api2.primteksolusindo.com/dashboards/bpf/bpf_ws.asmx" binding="basicHttpBinding" bindingConfiguration="BPF_WSSoap" contract="WS1.BPF_WSSoap" name="BPF_WSSoap"/>
      <endpoint address="https://api2.primteksolusindo.com/dashboards/bpf/bpf_ws.asmx" binding="customBinding" bindingConfiguration="BPF_WSSoap12" contract="WS1.BPF_WSSoap" name="BPF_WSSoap12"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Test.My.MySettings>
      <setting name="Test_WS1_BPF_WS" serializeAs="String">
        <value>https://api2.primteksolusindo.com/dashboards/bpf/bpf_ws.asmx</value>
      </setting>
    </Test.My.MySettings>
  </applicationSettings>
</configuration>